*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}
.navbar{
    background-color: black;
    color: white;
    padding: 1rem 1.3rem;
}
.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}
.links div{
    display: flex;
    align-items: center;
    
}

.links div a{
    color: white;
    text-decoration: none;
    font-size: 1.75rem;
    margin-left: 1rem;
}